rims-lab-quantum/xsd/PushOrderResult.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="Response" type="ResponseType"/>
  <xs:complexType name="ResponseType">
    <xs:sequence>
      <xs:element type="xs:int" name="IntegrationHistoryID"/>
      <xs:element type="xs:byte" name="Status"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>